* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

a {
    color: black;
    text-decoration: none; 
}

body {
    font-family: "TT Commons Pro Variable",Segoe UI,Arial,sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/*sidebar*/
.wrapper {
    display: flex;
    flex-grow: 1;
}

.sidebar {
    height: 100%;
    width: 78px;
    background-color:rgb(249, 250, 251);
    display: flex;
    flex-direction: column;
    padding: 18px;
    justify-content: center;
    align-items: center;
    position: fixed;
}

.unilectives-logo {
    border-bottom: 2px solid lightgray;
    padding-bottom: 16px;
}

.icon-start {
    margin-top: 20px;
    margin-bottom: auto; 
}

.icon-end {
    margin-top: auto; 
    margin-bottom: 26px;
}

.icon-start > ul > li {
    margin-bottom: 32px;
}

.icon-end > ul > li {
    margin-top: 32px;
}

.sidebar > svg {
    width: 30px;
}

/* content */

.content {
    margin-left: 80px;
    width: 100vw;
}

.content > img {
    width: 100%;
}

.title-text-container {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.title-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
    tab-size: 4;
    font-size: 16px;
    width: 82%;
}

.unilectives-text {
    font-weight: 700;
    color: rgb(18 121 242);
    font-size: 72px;
}

.bold-text {
    font-weight: bold;
}

/* searchbar */

.review-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.search-bar-container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.search-bar {
    color: rgb(156, 173, 233);
    display: flex;
    align-items: center;
    border: 2px solid rgb(156, 173, 233);
    width: 82%;
    border-radius: 0.25rem;
}

.search-bar > input {
    width: 100%;
}

.search-bar > svg {
    margin-left: 8px;
    margin-right: 8px;
}

.search {
    border: none;
    padding: 12px;
}

.search::placeholder {
    color: rgb(156, 173, 233);
}

/* dropdown button  */
.dropdown-outer-container {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.dropdown-container {
    width: 82%;
}

.dropbtn {
    display: flex;
    justify-content: space-between;
    padding: 8px 16px 8px 16px;
    background-color: white;
    align-items: center;
    color: rgb(152, 152, 152);
    height: 42px;
    font-size: 16px;
    border: 1px solid rgb(152, 152, 152);
    border-radius: 8px;
    box-shadow: 0px 2px 2px rgb(152, 152, 152);
    cursor: pointer;
    width: 200px;
    font-weight: lighter;
  }
  
  .dropbtn > svg {
    color: black;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    background-color: white;
    color: black;
    border-right: 1px solid rgb(152, 152, 152);
    border-left: 1px solid rgb(152, 152, 152);
    padding: 12px 16px;
    font-weight: 400;
    text-decoration: none;
    display: block;
  }

  #last-a {
    border-bottom: 1px solid rgb(152, 152, 152);
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .show {display:block;}

.dropbtn.clicked {
    border-bottom: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

/* cards */
.card-outer-container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.card-container {
    width: 82%;
    height: 100%;
    display: grid;
    grid-template-rows: 210px 210px 210px; 
    grid-template-columns: 1fr 1fr 1fr; 
    gap: 40px;
}

.card {
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

.card-content {
    padding: 28px 24px 28px 24px;
}

.card-content-name {
    display: flex;
    justify-content: space-between;
}

.filled-card-star {
    font-size: 24px;
    color: rgb(183, 137, 229);
}

.star {
    font-size: 24px;
    color: rgb(152, 152, 152);
}

.card-review {
    color: rgb(152, 152, 152);
    font-size: 12px;
}

.card-description {
    height: 4rem;
    margin-top: 8px;
    font-size: 14px;
    opacity: 70%;
    font-weight: lighter;
}

.card-term {
    margin-top: 8px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.card-term-items {
    font-size: 12px;
    padding: 6.5px;
    background-color: rgb(204, 235, 246);
    border-radius: 12px;
}

/* stretch task */

#hidden-div {
    border-radius: 30px;
    width: 50%;
    border: 1px solid black;
    padding: 2rem;
    align-self: center;
    display: block;
}

#hidden-div > button {
    padding: 1rem;
    width: 100%;
}